<div class="container-fluid" ng-controller="phoneNumberReservationsController" ng-init="loadReservations()">
    <h2 style="margin-bottom: 20px;">Phone Number Reservations History</h2>

    <div class="form-inline" style="margin-bottom: 15px;">
        <client-selector selected-id="searchClient" style="margin-right: 10px;"></client-selector>
        <phone-number-selector selected-id="searchPhone" style="margin-right: 10px;"></phone-number-selector>

        <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Client Name</th>
                <th>Phone Number</th>
                <th>Begin Effective Date (BED)</th>
                <th>End Effective Date (EED)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in reservations">
                <td style="vertical-align: middle;">{{r.ID}}</td>
                <td style="vertical-align: middle;">{{r.ClientName}}</td>
                <td style="vertical-align: middle;">{{r.PhoneNumber}}</td>
                <td style="vertical-align: middle;">{{r.BED | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="vertical-align: middle;">
                    <span ng-if="r.EED">{{r.EED | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    <span ng-if="!r.EED" class="label label-success">Active (No End Date)</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>