USE [master]
GO
/****** Object:  Database [Vanrise_DataBase]    Script Date: 3/17/2026 1:58:30 PM ******/
CREATE DATABASE [Vanrise_DataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vanrise_DataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Vanrise_DataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vanrise_DataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Vanrise_DataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vanrise_DataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vanrise_DataBase]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[BirthDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devices]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devices](
	[device_id] [int] IDENTITY(1,1) NOT NULL,
	[device_name] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumberReservations]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumberReservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[PhoneNumberID] [int] NOT NULL,
	[BED] [datetime] NOT NULL,
	[EED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumbers]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumbers](
	[PhoneNumberID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[DeviceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneNumberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](64) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [UserRole]
GO
ALTER TABLE [dbo].[PhoneNumberReservations]  WITH CHECK ADD  CONSTRAINT [FK_Res_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[PhoneNumberReservations] CHECK CONSTRAINT [FK_Res_Client]
GO
ALTER TABLE [dbo].[PhoneNumberReservations]  WITH CHECK ADD  CONSTRAINT [FK_Res_Phone] FOREIGN KEY([PhoneNumberID])
REFERENCES [dbo].[PhoneNumbers] ([PhoneNumberID])
GO
ALTER TABLE [dbo].[PhoneNumberReservations] CHECK CONSTRAINT [FK_Res_Phone]
GO
ALTER TABLE [dbo].[PhoneNumbers]  WITH CHECK ADD  CONSTRAINT [FK_Phone_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[devices] ([device_id])
GO
ALTER TABLE [dbo].[PhoneNumbers] CHECK CONSTRAINT [FK_Phone_Device]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddClient]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_AddClient]
    @Name NVARCHAR(MAX),
    @Type INT,
    @BirthDate DATETIME = NULL
AS
BEGIN
    INSERT INTO Clients (Name, Type, BirthDate)
    VALUES (@Name, @Type, @BirthDate);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDevice]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_AddDevice]
    @Name NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Devices (device_name) VALUES (@Name);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddPhoneNumber]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_AddPhoneNumber] @Number NVARCHAR(50), @DeviceID INT
AS BEGIN INSERT INTO PhoneNumbers (Number, DeviceID) VALUES (@Number, @DeviceID); END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClient]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteClient]
    @ID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM PhoneNumberReservations WHERE ClientID = @ID)
    BEGIN
        THROW 51000, 'Cannot delete Client: This client has active reservations.', 1;
    END

    DELETE FROM Clients WHERE ClientID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDevice]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteDevice]
    @ID INT
AS
BEGIN
    -- Check dependency
    IF EXISTS (SELECT 1 FROM PhoneNumbers WHERE DeviceID = @ID)
    BEGIN
        -- Throw custom error (State 1)
        THROW 51000, 'Cannot delete Device: It is linked to one or more Phone Numbers.', 1;
    END

    DELETE FROM Devices WHERE device_id = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePhoneNumber]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeletePhoneNumber]
    @ID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM PhoneNumberReservations WHERE PhoneNumberID = @ID)
    BEGIN
        THROW 51000, 'Cannot delete Phone Number: It is currently reserved.', 1;
    END

    DELETE FROM PhoneNumbers WHERE PhoneNumberID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveClientPhoneNumbers]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActiveClientPhoneNumbers]
    @ClientID INT
AS
BEGIN
    SELECT 
        p.PhoneNumberID, 
        p.Number, 
        p.DeviceID, 
        d.device_name AS DeviceName
    FROM PhoneNumberReservations r
    JOIN PhoneNumbers p ON r.PhoneNumberID = p.PhoneNumberID
    JOIN Devices d ON p.DeviceID = d.device_id
    WHERE r.ClientID = @ClientID 
      AND r.EED IS NULL; -- Ensures we only get currently active reservations
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllClients]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_GetAllClients]
AS
BEGIN
    SELECT ClientID, Name, Type, BirthDate FROM Clients;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDevices]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_GetAllDevices]
AS
BEGIN
    SELECT device_id, device_name FROM devices;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPhoneNumbers]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllPhoneNumbers]
AS
BEGIN
    SELECT p.PhoneNumberID, p.Number, p.DeviceID, d.device_name as DeviceName
    FROM PhoneNumbers p
    JOIN Devices d ON p.DeviceID = d.device_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllReservations]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAllReservations]
AS
BEGIN
    SELECT 
        r.ReservationID, 
        r.ClientID, c.Name AS ClientName,
        r.PhoneNumberID, p.Number AS PhoneNumber,
        r.BED, r.EED
    FROM PhoneNumberReservations r
    JOIN Clients c ON r.ClientID = c.ClientID
    JOIN PhoneNumbers p ON r.PhoneNumberID = p.PhoneNumberID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientsPerTypeReport]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetClientsPerTypeReport]
    @Type INT = NULL
AS
BEGIN
    SELECT 
        Type,
        COUNT(ClientID) AS NoOfClients
    FROM Clients
    WHERE (@Type IS NULL OR Type = @Type)
    GROUP BY Type;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPhoneStatusReport]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPhoneStatusReport]
    @DeviceID INT = NULL,
    @IsReserved BIT = NULL
AS
BEGIN
    SELECT 
        d.device_name AS Device,
        CASE 
            WHEN r.ReservationID IS NOT NULL THEN 'Reserved' 
            ELSE 'Unreserved' 
        END AS Status,
        COUNT(p.PhoneNumberID) AS NoOfPhoneNumbers
    FROM PhoneNumbers p
    JOIN Devices d ON p.DeviceID = d.device_id
    LEFT JOIN PhoneNumberReservations r ON p.PhoneNumberID = r.PhoneNumberID AND r.EED IS NULL
    WHERE (@DeviceID IS NULL OR p.DeviceID = @DeviceID)
      AND (@IsReserved IS NULL OR (@IsReserved = 1 AND r.ReservationID IS NOT NULL) OR (@IsReserved = 0 AND r.ReservationID IS NULL))
    GROUP BY d.device_name, CASE WHEN r.ReservationID IS NOT NULL THEN 'Reserved' ELSE 'Unreserved' END;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(64)
AS
BEGIN
    -- Prevent duplicate usernames
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        THROW 50001, 'Username already exists.', 1;
    END

    -- Insert the new user. Notice we hardcode 'User' as the default role!
    INSERT INTO Users (Username, PasswordHash, UserRole)
    VALUES (@Username, @PasswordHash, 'User');
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReservePhoneNumber]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ReservePhoneNumber]
    @ClientID INT,
    @PhoneNumberID INT,
    @BED DATETIME
AS
BEGIN
    -- Adds a record to the PhoneNumberReservation table with EED as null 
    INSERT INTO PhoneNumberReservations (ClientID, PhoneNumberID, BED, EED)
    VALUES (@ClientID, @PhoneNumberID, @BED, NULL);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchClients]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SearchClients]
    @Name NVARCHAR(MAX) = NULL,
    @Type INT = NULL
AS
BEGIN
    SELECT ClientID, Name, Type, BirthDate 
    FROM Clients
    WHERE (@Name IS NULL OR Name LIKE '%' + @Name + '%')
      AND (@Type IS NULL OR Type = @Type);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchDevices]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_SearchDevices]
    @Name NVARCHAR(MAX) = NULL
AS
BEGIN
    SELECT device_ID, device_name
    FROM devices
    WHERE (@Name IS NULL OR device_name LIKE '%' + @Name + '%')
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchPhoneNumbers]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SearchPhoneNumbers]
    @Number NVARCHAR(50) = NULL,
    @DeviceID INT = NULL
AS
BEGIN
    SELECT p.PhoneNumberID, p.Number, p.DeviceID, d.device_name as DeviceName
    FROM PhoneNumbers p
    JOIN Devices d ON p.DeviceID = d.device_id
    WHERE (@Number IS NULL OR p.Number LIKE '%' + @Number + '%')
      AND (@DeviceID IS NULL OR p.DeviceID = @DeviceID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchReservations]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SearchReservations]
    @ClientID INT = NULL,
    @PhoneNumberID INT = NULL
AS
BEGIN
    SELECT 
        r.ReservationID, 
        r.ClientID, c.Name AS ClientName,
        r.PhoneNumberID, p.Number AS PhoneNumber,
        r.BED, r.EED
    FROM PhoneNumberReservations r
    JOIN Clients c ON r.ClientID = c.ClientID
    JOIN PhoneNumbers p ON r.PhoneNumberID = p.PhoneNumberID
    WHERE (@ClientID IS NULL OR r.ClientID = @ClientID)
      AND (@PhoneNumberID IS NULL OR r.PhoneNumberID = @PhoneNumberID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UnreservePhoneNumber]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UnreservePhoneNumber]
    @ClientID INT,
    @PhoneNumberID INT,
    @EED DATETIME
AS
BEGIN
    -- Gets the effective phone number reservation of the client and sets the EED 
    UPDATE PhoneNumberReservations 
    SET EED = @EED 
    WHERE ClientID = @ClientID 
      AND PhoneNumberID = @PhoneNumberID 
      AND EED IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClient]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_UpdateClient]
    @ID INT,
    @Name NVARCHAR(MAX),
    @Type INT,
    @BirthDate DATETIME = NULL
AS
BEGIN
    UPDATE Clients 
    SET Name = @Name, Type = @Type, BirthDate = @BirthDate 
    WHERE ClientID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDevice]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_UpdateDevice]
    @ID INT,
    @Name NVARCHAR(MAX)
AS
BEGIN
    UPDATE Devices SET device_name = @Name WHERE device_id = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePhoneNumber]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdatePhoneNumber] @ID INT, @Number NVARCHAR(50), @DeviceID INT
AS BEGIN UPDATE PhoneNumbers SET Number = @Number, DeviceID = @DeviceID WHERE PhoneNumberID = @ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateUserLogin]    Script Date: 3/17/2026 1:58:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ValidateUserLogin]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(64)
AS
BEGIN
    SELECT UserID, Username, UserRole
    FROM Users
    WHERE Username = @Username AND PasswordHash = @PasswordHash;
END
GO
USE [master]
GO
